.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background: #6a11cb; */
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  min-height: 100vh;
  padding: 50px 20px;
  font-family: 'Poppins', sans-serif;
}

.profile-card {
  /* background: #fff; */
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  max-width: 700px;
  width: 100%;
}

.profile-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-photo img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #2575fc;
}

.profile-username {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: white;
  margin-bottom: 30px;
}

.profile-section {
  margin-bottom: 25px;
}

.profile-section h3 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.info-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.whatsapp-link {
  color: #25D366;
  text-decoration: none;
  font-weight: 500;
}

.whatsapp-link:hover {
  text-decoration: underline;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill {
  background: #eef3ff;
  color: white;
  padding: 6px 14px;
  border-radius: 12px;
  font-size: 14px;
}

.no-skill {
  color: #777;
  font-style: italic;
}

.resume-link {
  color: #2575fc;
  text-decoration: none;
  font-weight: 500;
}

.resume-link:hover {
  text-decoration: underline;
}

.profile-actions {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-primary,
.btn-secondary {
  padding: 10px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn-primary {
  background: #2575fc;
  color: white;
}

.btn-primary:hover {
  background: #1e63d3;
}

.btn-secondary {
  background: #f0f0f0;
  color: #333;
}

.btn-secondary:hover {
  background: #e0e0e0;
}
